*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html{
  font-size: 62.5%;
}

:root{
  --color-black: #000;
  --color-grey: #333;
  --color-grey-dark: #222;
  --color-white: #fff;
  --color-white-dark: #ccc;
  --color-white-light: #f1f1f1;
  --color-pri-sub: orange;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-grey-dark);
}

/* end of the common stylings */

/* utilities and others */
.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  margin: 1rem auto;
  position: relative;
}

.heading__sub{
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-pri-sub);
  transform: translateY(8px);
}

.heading__main{
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: 1.4px;
  font-weight: 400;
}

.heading__background{
  font-size: 4rem;
  color: rgba(153, 153, 153, .2);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: scale(1.5);
}

.u-center{
  width: max-content;
  margin: 0 auto;
}
/* end of utilities and others */

/* Navigation */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-pri-sub);
  padding: 0 2rem;
}

.header__logo{
  display: flex;
  flex-direction: column;
  color: var(--color-white);
}

.header__logo--main{
  font-size: 4.5rem;
  text-transform: capitalize;
  text-transform: uppercase;
}

.header__logo--sub{
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: normal;
  letter-spacing: 2px;
}

.navigation__list{
  display: flex;
  align-items: center;
}

.navigation__list--item{
  display: block;
  padding: 1.5rem;
  position: relative;
  z-index: 2;
}

.navigation__list--item::after{
  content: '';
  width: 0;
  height: 100%;
  background-color: rgba(102, 51, 153, 0.288);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .7s ease;
}

.navigation__list--item:hover.navigation__list--item::after{
  width: 100%;
}

.navigation__list--link, .navigation__list--link:visited{
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--color-white);
  font-weight: 600;
}
/* End of Navigation */

/* Home */
.home{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(./Assets/images/bgh3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home__textbox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__title{
  font-size: 8rem;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__title--main{
  font-size: 10rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.home__title--sub{
  font-style: oblique;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: normal;
}

.textbox__button{
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  background: linear-gradient(to right, var(--color-pri-sub), rebeccapurple);
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 100px;
  letter-spacing: 1.2px;
  margin-top: 3rem;
}

.home__subfeatures{
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  border-radius: 8rem 8rem 0 0;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.subfeature{
  display: flex;
  align-items: center;
  transition: all .3s ease;
}

.subfeature:first-of-type{
  background-color: var(--color-pri-sub);
}

.subfeature:first-of-type .subfeature__text{
  color: var(--color-white);
}

.subfeature:first-of-type .subfeature__svg svg{
  fill: var(--color-white);
}

.subfeature:hover{
  background-color: var(--color-pri-sub);
}

.subfeature:hover .subfeature__text{
  color: var(--color-white);
}

.subfeature:hover .subfeature__svg svg{
  fill: var(--color-white);
}

.subfeature{
  padding: 3rem 2rem;
}

.subfeature__svg{
  margin-right: 1rem;
}

.subfeature__svg svg{
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-pri-sub);
  transition: all .3s ease;
}

.subfeature__text{
  font-size: 1.2rem;
  text-transform: uppercase;
  color: var(--color-grey);
  font-weight: 800;
  transition: all .3s ease;
}

/* End of Home */

/* about */
.about{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  width: 96vw;
  margin: 5rem auto;
}

.about__images{
  grid-column: 1/6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-image:linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .4)), url(./../src/Assets/images/bg3.jpg);
  background-position: center;
  background-size: cover;
}

.about__image-cont1{
  grid-row: 2/6;
  grid-column: 2/6;
  /* box-shadow: 0 0 4rem #333; */
  perspective: 200rem;
}

.about__image{
  background-color: transparent;
}
.about__image-cont2{
  grid-row: 4/6;
  grid-column: 4/7;
  z-index: 30;
  width: 120%;
  height: 115%;
  /* box-shadow: 0 0 4rem #333; */
  perspective: 200rem;
}

.about__image--img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: all .5s ease-in-out;
  box-shadow: 0 0 4rem #333;
}

.about__image--img:hover{
  transform: rotateY(360deg);
}

.about__textual{
  grid-column: 7/13;
}

.about__description{
  font-size: 1.5rem;
  margin-top: 2rem;
}

.about__features--container{
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  row-gap: 2rem;
  position: relative;
}

.about__features--container::after{
  content: 'why choose us';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-30deg);
  font-size: 5rem;
  text-transform: capitalize;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: rgba(153, 153, 153, 0.167);
  z-index: -1;
}

.feature-sm{
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(153, 153, 153, 0.027);
  transition: all .5s ease;
  border-radius: 3px;
  padding: .1rem;
}

.feature-sm:hover{
  background-color: var(--color-pri-sub);
  color: var(--color-white);
}

.feature-sm:hover .feature-sm__icon svg{
  fill: var(--color-white);
}

.feature-sm__icon{
  --size: 8rem;
  padding: 1rem;
  width: var(--size);
  height: var(--size);
  background-color: rgba(153, 153, 153, 0.267);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.feature-sm__icon svg{
  --size:4rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-pri-sub);
  transition: all .5s ease;
}

.feature-sm__title{
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: normal;
  font-family: serif;
  margin: 1.5rem 0;
}

.feature-sm__text{
  font-size: 1.6rem;
  text-align: center;
}
/* end of about */

/* tours */
.tours{
  margin-bottom: 15rem;
}
.tours__container{
  width: 90vw;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 2rem;
  row-gap: 3rem;
}

.tour{
  width: 35rem;
  min-height: 45rem;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.tour__duration{
  text-transform: capitalize;
  padding: .5rem 2rem;
  background-color: var(--color-pri-sub);
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-white);
  border-radius: 100rem;
  margin-bottom: 6rem;
}

.tour__title{
  font-size: 5rem;
  text-transform: capitalize;
  color: var(--color-white);
}

.tour__pricing{
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 1rem;
}

.tour__description{
  font-size: 1.4rem;
  color: var(--color-white);
  line-height: 1.3;
  background-color: rgba(153, 153, 153, 0.71);
  padding: 1rem;
  border-radius: 3px;
  margin-bottom: 5rem;
  position: relative;
}

.tour__description svg{
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-white);
}

.tour__svg{
  --size: 4rem;
  padding: .5rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pri-sub);
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(9px, -15px);
}

.tour__button, .tour__button:visited{
  padding: 2rem 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--color-pri-sub), rebeccapurple);
  color: var(--color-white);
  font-weight: 500;
  border-radius: 100px;
  /* width: 60%; */
  text-align: center;
}

/* end of tours */

/* team members */
.team__members{
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  width: 90vw;
  margin: auto;
  gap: 3rem;
  row-gap: 4rem;
}

.member{
  width: 30rem;
}

.member__image{
  height: 20rem;
  margin-bottom: 2rem;
}

.member__image--img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.member__body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member__name{
  font-size: 2rem;
  margin-bottom: .5rem;
  text-transform: capitalize;
  font-weight: 400;
}

.member__position{
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: normal;
  color: var(--color-grey);
  margin-bottom: 2rem;
}

.member__message{
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 3rem;
}

.member__social{
  display: flex;
  align-items: center;
}

.member__social > *:not(:last-child){
  margin-right: 2rem;
}

.social__link, .social__link:visited{
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  padding: 1rem;
  background-color: rgba(255, 166, 0, 0.305);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}

.social__link:hover{
  transform: rotate(360deg);
}

.social__link svg{
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-pri-sub);
}

/* Testimonies */
.testimonials{
  margin-top: 8rem;
}

.testimonies__container{
  width: 95vw;
  margin: 3rem auto;
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.testimonies__carousel{
  display: flex;
  width: 70%;
  padding: 5rem 0;
  overflow: scroll;
}

.testimonies__carousel::-webkit-scrollbar{
  width: 0;
}

.testimonies__carousel >*:not(:last-child){
  margin-right: 2rem;
}

.testimonies__button{
  --size: 5rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: rgba(255, 166, 0, 0.61);
  border-radius: 50%;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.testimonies__button:hover{
  background-color: var(--color-pri-sub);
}

.testimonies__button svg{
  --size: 3rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-white);
}

.testimony{
  min-width: 40rem;
  min-height: 50rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.testimony__body{
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(102, 51, 153, 0.679);
  padding: 5rem 2rem 1rem 2rem;
  padding-top: 5rem;
}

.testimony__icon{
  --size: 8rem;
  padding: .4rem;
  width: var(--size);
  height: var(--size);
  background-color: var(--color-pri-sub);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -4rem;
  left: 2rem;
  border-radius: 50%;
  border: 5px solid var(--color-white);
  box-sizing: content-box;
}

.testimony__icon svg{
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-white);
}

.testimony__name-date{
  background-color: var(--color-white);
  padding: 1rem;
  width: max-content;
  position: absolute;
  top: -3rem;
  left: 2rem;
}

.testimony__name-date--name{
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin-bottom: .3rem;
  color: var(--color-grey);
  text-transform: uppercase;
}

.testimony__name-date--date{
  font-size: 1.2rem;
  font-weight: 500;
}

.testimony__title{
  font-size: 3rem;
  color: var(--color-white);
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.testimony__text{
  font-size: 1.5rem;
  color: var(--color-white);
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: left;
}
/* End of Testimonies */


/* subscribe */
.subscribe{
  min-height: 80vh;
  /* margin-bottom: 10rem; */
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(././Assets/images/bg3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.subscribe__stars{
  display: flex;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 5rem;
  position: relative;
}

.subscribe__stars::before{
  content: '';
  width: 90%;
  height: 2px;
  background-color: var(--color-white);
  position: absolute;
  bottom: -1.3rem;
  transform: translateX(5%);
}

.subscribe__stars::after{
  content: '';
  width: 110%;
  height: 2px;
  background-color: var(--color-white);
  position: absolute;
  bottom: -2rem;
  transform: translateX(-5%);
}

.subscribe__stars svg{
  --size: 2.5rem;
  width: var(--size);
  height: var(--size);
  fill: var(--color-pri-sub);
}

.subscribe__cta{
  font-size: 5rem;
  font-weight: normal;
  color: var(--color-white);
  text-transform: capitalize;
  font-family: serif;
  margin-bottom: 3rem;
}

.subscribe__cta--text{
  font-size: 2rem;
  color: var(--color-white);
  margin-bottom:3rem;
}

.subscribe__form{
  display: flex;
  align-items: center;
  height: 4rem;
}

.subscribe__input{
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  color: var(--color-grey);
  width: 25rem;
  height: inherit;
}

.subscribe__input::-webkit-input-placeholder{
  text-transform: capitalize;
}

.subscibe__form--btn{
  display: block;
  border: none;
  outline: none;
  height: inherit;
  background-color: var(--color-pri-sub);
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-white);
  text-transform: capitalize;
  cursor: pointer;
}
/* end of subscribe */

/* footer */
.footer{
  background-color: var(--color-pri-sub);
  padding: 2rem 6rem;
  margin-bottom: 1rem;
  position: relative;
}

.footer__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 3rem;
  margin-bottom: 4rem;
}


.footer__header{
  font-family: serif;
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 300;
  color: var(--color-white);
  margin-bottom: 2rem;
}

.footer__text{
  font-size: 1.6rem;
  color: var(--color-white);
  text-align: justify;
}

.footer__nav--item{
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.footer__nav--link{
  color: var(--color-white);
}

.footer__blog--link{
  display: block;
  font-size: 1.8rem;
  color: var(--color-white);
  margin-bottom: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid currentColor;
  text-transform: capitalize;
}

.footer__contact--item{
  font-size: 1.8rem;
  color: var(--color-white);
  margin-bottom: 1rem;
}

.footer__copyright{
  width: max-content;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 1rem;
  background-color: #ccc;
  transform: translateX(-50%);
  border-radius: 5px 5px 0 0;
}
/* end of footer */


